* {
  box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--x-small: 1.2rem; /* 12px */
    --font-size--small: 1.4rem; /* 14px */
    --font-size--default: 1.6rem; /* 16px */
    --font-size--medium: 1.8rem; /* 18px */
    --font-size--large: 2.4rem; /* 24px */
    --font-size--x-large: 2.8rem; /* 28px */
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Arial, Helvetica, sans-serif;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;   

  header.mainHeader {
      background: #00296B;
      padding: 1rem 1.5rem 1rem;
      color: #fff;

      h1 {
          font-size: var(--font-size--large);
          margin: 0;
          padding: 1rem 0;
          color: #fff;
      }

      p {
        margin: 0 0 1rem;
        font-size: var(--font-size--small);
        color: #fff;
    
        &:first-of-type {
          margin: 0 0 1rem;
        }
      }
  } 
    
  /** Tablet and up **/
  @media (min-width: 43em) {
    header.mainHeader {
        padding: 1rem 5rem;
        height: 45vh;

        a {
            position: relative;
            z-index: 999999;
            display: block;
        }

        p {
          font-size: var(--font-size--large);
          line-height: var(--font-size--x-large);
    
          &:first-of-type {
            margin: 2rem 0 0;
          }
        }
    }
  }
    
  @media (min-width: 62em) {
    header.mainHeader {
        p {
          width: 60%;
        }
    }
  }
}